# Template - à remplir pour le déploiement Vercel
VITE_SUPABASE_URL=https://naphichuppjetuklcvbe.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5hcGhpY2h1cHBqZXR1a2xjdmJlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzAwMDg0NTgsImV4cCI6MjA4NTU4NDQ1OH0.MkN0V1gBIwr3MELfe0E6qSxD4YxFhu7zc0KwBu-mdZ0
